* {
    /*border: 1px solid red;*/
}
body {
    font-family: 'Open Sans', sans-serif;
}

.h1-mod {
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 79px;
}

.h2-mod {
    font-style: normal;
    font-weight: normal;
    font-size: 54px;
    line-height: 72px;
}

.p-mod {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
}

.p-mod-2 {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
}

.p-mod-3 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #373A3C;
}

#place-for-result {
    text-decoration-line: underline;
}

#place-for-result:hover {
    border-bottom: 3px solid blue;
}

#list-of-results li {
    padding: 18px 0;
    border-bottom: 1px solid #000000;
    list-style: none;
    font-size: 23px;
    line-height: 23px;
}

#list-of-results li:hover {
    border-bottom: 2px solid #86CDFD;
    list-style: none;

}

.error50 {
    color: #A94442;
    width: 180px;
    height: 33px;
    border: 1px solid #EBCCCC;
    border-radius: 4px;
}

.error50-input {
    color: #A94442;
    width: 180px;
    height: 33px;
    border: 1px solid #EBCCCC;
    border-radius: 4px;
}

.margin-left-and-top {
    margin-left: 6.5rem;
    margin-top: 8px;
}

#error42 {
    margin-left: 14px;
    width: 277px;
    height: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #D9534F;
}

.option-style {
    width: 149px;
    height: 38px;
    color: #373A3C;
    background: #E6E6E6;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}

