* {
    /*border: 1px solid red;*/
}

h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#Y {
    text-decoration-line: underline;
}

#Y:hover {
    border-bottom: 3px solid blue;

}

.error50 {
    color: #A94442;
    width: 180px;
    height: 33px;
    border: 1px solid #EBCCCC;
    border-radius: 4px;
}

.margin-left {
    margin-top: 8px;
    margin-left: 3.8rem;
}

#error42 {
    margin-left: 14px;
    width: 277px;
    height: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #D9534F;
}